.channel-card {
  background: var(--bg-page);
  border-radius: var(--radius-md);
  border: 4px solid var(--blue-50);
  padding: 24px 16px 16px 16px;
  position: relative;
  max-width: none;
  width: 100%;
  margin-top: 30px;
  box-shadow: var(--shadow-card);
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.card-avatar-wrapper {
  position: absolute;
  top: -30px;
  left: 20px;
}

.card-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid var(--blue-50);
  object-fit: cover;
  background: #ccc;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 75px;
  min-height: 45px;
}

.channel-name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--blue-900);
  line-height: 1.2;
}

.channel-category {
  font-size: 12px;
  color: var(--blue-900);
  opacity: 0.8;
}

/* Statistics */
.card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.stat-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px;
}

.stat-label {
  font-size: 11px;
  color: var(--gray-300);
  margin-bottom: 4px;
}

.stat-value {
  font-size: 22px;
  font-weight: 600;
  color: var(--blue-500);
}

.rating-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-icon {
  color: var(--orange-500);
  font-size: 20px;
}

.description-text {
  font-size: 14px;
  color: var(--gray-900);
  line-height: 1.4;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--blue-400);
  font-weight: 600;
  font-size: 16px;
  margin-top: auto;
  text-decoration: none;
}

.card-link:hover {
  opacity: 0.8;
}


@media (min-width: 480px) {
    .channel-card {
        max-height: 300px;
    }
}