.category-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  background-color: var(--gray-50);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;
  user-select: none;
}

.category-pill:hover {
  background-color: var(--blue-100);
}

.cat-icon {
  font-size: 16px;
  color: var(--blue-900);
  font-weight: 600;
}

.cat-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--blue-900);
  word-wrap: break-word;
}

.category-pill.expanded {
  width: 100%;
  padding: 12px 24px 12px 20px;
  background-color: var(--gray-50);
  justify-content: space-between;
}

.category-pill-content-expanded {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.cat-video-count {
  color: var(--blue-600);
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
